@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');


#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.far-galaxy {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: justify;
}



* {
    margin: 0;
}

body {
    font-family: "Poller One", sans-serif;
    background-image: url("./assets/Images/sky.jpg");
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 16px 16px 0 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
}

nav {
    position: fixed;
    top: 5px;
    left: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
}

.left {
    float: left;
    width: 25%;
    margin: 0.3rem 1.2rem 0 0;
}

.left img {
    box-shadow: 0.6rem 0.6rem 0.6rem gray;
    width: 100%;
}

.right {
    float: right;
    width: 50%;
    border: 2px solid #eedb00;
    border-radius: 0 0 16px 16px;
    margin: 0.3rem 0 0 0.6rem;
}

.right img {
    float: left;
    width: 33%;
    margin: calc(1% / 6);
}

.right > h2 {
    text-align: center;
}



.rounded-bottom-left {
    border-bottom-left-radius: 16px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 16px;
}

footer {
    clear: both;
    height: 6em;
    border-radius: 0 0 16px 16px;
    position: relative;
}


.button {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    background: black;
    color: #eedb00;
    border-radius: 8px;
    margin: 0.2em;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: linear-gradient(
            45deg,
            red,
            orange,
            yellow,
            green,
            cyan,
            blue,
            violet,
            red
    );
    background-size: 400%;
    animation: borderRun 6s linear infinite;
    z-index: -1;
    border-radius: 10px;
}

@keyframes borderRun {
    0% { background-position: 0 50%; }
    100% { background-position: 400% 50%; }
}

footer .button {
    position: static;
    background: #800020;
    z-index: auto;
}

footer .button::before {
    content: none;
}



footer {
    display: flex;
    align-items: center;
    position: relative;
    background: lightyellow;
    overflow: hidden;

}



footer::before {
    content: "";
    position: absolute;
    inset: 0;
    /*background: rgba(0, 0, 0, 0.5); !* степень затемнения *!*/
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.3));
    z-index: 0;
}

footer > * {
    position: relative;
    z-index: 1;
}


footer .button {
    margin-left: 33%;
}

nav .button:nth-child(1) {
    transform: rotate(-3deg);
}

nav .button:nth-child(2) {
    transform: rotate(2deg);
}

nav .button:nth-child(3) {
    transform: rotate(-2deg);
}

nav .button:nth-child(4) {
    transform: rotate(3deg);
}

.left-part {
    display: inline-block;
    transform: rotate(-5deg);

    transition: transform 0.3s ease;
}

.left-part:hover {
    transform: rotate(0deg);
}