
.starwars-page {
    font: -apple-system-short-body;
    min-height: 100vh;
    padding: 60px 40px;
    /*background: radial-gradient(circle at top, #0a0a0a 0%, #000 70%);*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: radial-gradient(
            circle at top,
            #5f6f68 0%,
            #2c3f39 60%,
            #16221f 100%
    );

}

.starwars-container {
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 230, 0, 0.2);
    text-align: center;
}

.starwars-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow:
            0 0 10px #eedb00,
            0 0 25px rgba(255, 230, 0, 0.6);
}

.starwars-container img {
    width: 400px;
    border-radius: 16px;
    margin: 20px 0;
    box-shadow: 0 0 30px rgba(255, 230, 0, 0.3);
}

.starwars-container p {
    font-size: 1.2em;
    line-height: 1.7;
    max-width: 800px;
    margin: 20px auto;
}

